.intro {
  /* background: url(../img/background.webp) no-repeat bottom center scroll; */
  background: #000000;
}

.table-responsive table {
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:767px) {
  a.buy-tickets {
    font-size: 150%;
  }

  .table-responsive table {
    width: 50vh;
  }
}

#map {
  height: 50vh;
  min-height: 325px; 
  width: 100%;
  margin-top: 0; 
}

.price {
  padding-top: 2em;
}

#about {
  height: 100vh;
}

#tickets {
  height: 100vh;
}

#parking-map {
  width: 100%; 
}

#contact, #schedule {
  height: 100vh;
}

