.color-box {
  width: 100px;
  height: 75px;
}

body, .intro {
  background: #03090C;
  color: #F1F0F0;
}

.intro h3 {
  margin-bottom: 0px;
}

a, a:hover, a:focus {
  color: #163456;
}

a:hover, a:focus {
  text-decoration: none;
}

.navbar {
  background-color: #163456;
}

.navbar a:hover, a:focus {
  color: #7E868A;
}

.btn-default {
  color: #F1F0F0;
  border: 1px solid #7E868A; 
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #163456;
  color: #F1F0F0;
  background-color: #163456;
}

.table-responsive table {
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:767px) {
  a.buy-tickets {
    font-size: 150%;
  }

  .intro {
    background-image: url(../img/insomnia-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  body, .intro {
    background-color: #000000;
  }

  .intro .intro-text {
    display: none;
  }

  .table-responsive table {
    width: 50vh;
  }

  .navbar-custom.top-nav-collapse {
    background-color: #163456;
  }

  .navbar {
    background-color: #03090C;
  }
}

#map {
  height: 50vh;
  min-height: 325px; 
  width: 100%;
  margin-top: 0; 
}

.price {
  padding-top: 2em;
}

header.intro, #about, #tickets, #contact, #schedule  {
  height: 100vh;
}

#parking-map {
  width: 100%; 
}

p.address {
  font-size: 175%;
}

td.event-day {
  text-align: left;
  font-size: 120%;
  font-weight: bold;
}
